* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: Scroll;
    overflow-y: hidden;
    overflow-x: hidden
}

body {
    /*background-color: #f0f2f5;*/
    background-color: #EEEEEE;
}


#line_header {
    width: 100%;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid #BFBFBF;
}

.main_new_div {
    height: 93vh;
}

.left_new_div {
    width: 79.6%;
    float: left;
}

.right_new_div {
    width: 20%;
    height: 100%;
    float: right;
    border-left: 3px solid #BFBFBF;
}

.line1, .line2 {
    height: 46vh;
    width: 100%;
    margin: auto;
}

.line2 {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.my_bg_white {
    background: #FFFFFF;
}

.my_boder_radius {
    /*border-radius: 10px;*/
}

.padding_10 {
    padding: 10px;
}

.chart_title {
    margin: auto;
    width: 100%;
    text-align: center;
    line-height: 3vh;
    height: 3vh;
    background-color: coral;
}

#cat_table {
    float: left;
    width: 60%;
    height: 100%;
    padding: 5px;
    position: relative;
    border-right: 3px solid #BFBFBF;
}

#time_chart {
    position: relative;
    float: right;
    width: 60%;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #BFBFBF;
    border-top: 3px solid #BFBFBF;
}

#time_echarts {
    width: 94%;
    height: 47vh;
    float: right;
    margin-right: 15px;
}

.bar_wrapper {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;

}

#bar_chart {
    float: left;
    width: 100%;
    /*background-color: aquamarine;*/
    height: 100%;
}

.hot_chart_wrapper {
    float: left;
    width: 40%;
    height: 97%;
    position: relative;
    border-top: 3px solid #BFBFBF;
}

#hot_chart {
    width: 100%;
    height: 100%;
    /*background-color: cadetblue;*/
}

#data_chart {
    float: left;
    width: 100%;
    height: 100%;
}

.text_value {
    font-weight: 500;
}


.cname_left_block {
    position: absolute;
    width: 100px;
    left: 20px;
    top: 10%;
    height: 85%;
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
}

.cname {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /*background-color: #45b795;*/
}

.cname_div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cname_div .text_icon {
    position: absolute;
}

.cname_div .cname_text {
    float: left;
    padding-left: 20px;
    word-wrap: break-word;
    word-break: break-all;
}


/*标题相关开始*/
.tab_chart_title {
    /*position: absolute;*/
    padding-left: 20px;
    font-size: larger;
    /*line-height: 55px;*/
    position: relative;
    /*left: 20px;*/
    /*top: 11px;*/
}

.time_chart_title {
    position: absolute;
    font-size: larger;
    font-weight: bold;
    left: 20px;
    top: 10px;
}

.prps_chart_title {
    position: absolute;
    font-size: larger;
    font-weight: bold;
    left: 3%;
    top: 10px;
    z-index: 10;
}

.prpd_chart_title {
    position: absolute;
    font-size: larger;
    font-weight: bold;
    left: 3%;
    top: 10px;
    z-index: 10;
}

/*标题相关结束*/


/*封面图片*/
#cover_img {
    z-index: 100;
    width: 100%;
    height: 100%;
    /*background-color: #45b795;*/
    background-image: url("../image/BJ.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: -200%;
}

#cover_btn {
    z-index: 200;
    background-image: url("../image/JR.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    position: relative;
    width: 242px;
    height: 86px;
    left: calc(50% - 121px);
    top: 60%;
}

.cover_text {
    display: inline-block;
    position: absolute;
    top: 25%;
    left: calc(50% - 300px);
    width: 600px;

}

.cover_big_text {
    font-size: 80px;
    font-family: YouSheBiaoTiHei, serif;
    font-weight: 800;
    width: 600px;
    text-align: center;
    color: #FEFEFE;
}

.cover_s_text {
    font-size: 36px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FEFEFE;
    width: 600px;
    text-align: center;
    opacity: 0.6;
}

.gs_text {
    width: 600px;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: calc(50% - 300px);
    top: 78%;
    font-size: 30px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #FEFEFE;
}


.css-hnkyg1 {
    box-sizing: border-box;
    margin: 0px 0px 18px;
    min-width: 0px;
    width: 200px;
    height: 60px;
    background-color: #d9ecff;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    border: 1px solid rgba(5, 109, 232, 0.5);
    color: rgb(5, 109, 232);
    border-radius: 4px;
    cursor: pointer;
    /*height: 40px;*/
    font-size: 20px;
    position: absolute;
    left: calc(50% - 100px);
    top: 70%;
}